<j:PageHeader/>
<j:PageSettings LeftAreaRenderMode="Exclude" DisplayRightArea="True" />
<j:JSDS_LPA/>
<section class="category-page-wrapper">
    <flow:CategoryFilterControl runat="server" />
    <flow:SortControl runat="server" />
    <j:ListProductsAdvanced DescriptionType="Short" DisplayDescriptionInList="False" DisplayArticleNumber="True" />
    <j:ListProductsExtender/>
</section>
<j:PageFooter/>
