//TODO Use @mixin calculate-item-width
//TODO Change name for class .row

//
// Sub categories
//
.content {
  #main-subcat-container .row {
    float: left;
    width: 20%;
  }

  #main-subcat-container {
    clear: both;
    float: none;
    width: 100%;
    padding: 0;
    overflow: auto;
    margin: 0 0 55px 0;
    .subcat {
      padding: 5px;
      display: block;
      width: 100%;
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        box-shadow: none;
        margin: 0;
        padding: 5px;
        display: block;
        width: 100%;
        text-decoration: none;
      }
      .image {
        height: auto;
        line-height: inherit;
        width: 100%;
        display: block;
        padding: 0;
        text-align: center;

      }
      .name {
        font-size: ($js-body-font-size + 2);
        font-weight: 700;
        display: block;
        width: 100%;
        padding: 5px;
        text-align: center;
      }
      .image img {
        max-width: inherit;
        height: 160px;
        min-height: 100%;
      }
    }
  }
}

//
//  Medium
//
@media #{$medium-only} {
  .content {
    #main-subcat-container .row {
      float: left;
      width: 33%;
    }
    #main-subcat-container .subcat .image img {
      max-width: 100%;
      max-height: 100px;
      min-height: 100px;
    }
  }
}

//
//  Small
//
@media #{$small-only} {
  .content {
    #main-subcat-container .subcat .name {
      min-height: 46px;
    }
    #main-subcat-container .row {
      float: left;
      width: 50%;
    }
    #main-subcat-container .subcat .image img {
      max-width: inherit;
      height: 80px;
      min-height: 80px;
      max-height: 80px;
    }
  }
}

//
//  Large up
//
@media #{$large-up} {
  .content {
    #main-subcat-container .subcat .image img {
      max-width: 100%;
      max-height: 140px;
      min-height: 140px;
    }
  }
}
